{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}

  <!-- Statcounter -->
  <script type="text/javascript">
  var sc_project=12505380;
  var sc_invisible=0;
  var sc_security="d2f0597f";
  var scJsHost = "https://";
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
  </script>

  <noscript>
    <div class="statcounter">
      <a title="Web Analytics Made Easy - Statcounter" href=" " target="_blank">
        <img class="statcounter"
             src="https://c.statcounter.com/12505380/0/d2f0597f/0/"
             alt="Web Analytics Made Easy - Statcounter"
             referrerPolicy="no-referrer-when-downgrade">
      </a>
    </div>
  </noscript>
  <!-- End Statcounter -->

{% endblock %}
